/Vitroff-master/nbproject/private/
/chat/nbproject/private/
/hrm/nbproject/private/
/whitemount/nbproject/private/
/rkcollege/nbproject/private/
/excel_p/nbproject/private/
/hrm_new/mobile/nbproject/private/
/hrm_new/nbproject/private/